Article Link:"https://machinelearningmastery.com/regression-tutorial-keras-deep-learning-library-python/"

In [1]:
import keras
from keras.datasets import boston_housing

Using TensorFlow backend.

In [17]:
(x_train,y_train),(x_test,y_test) = boston_housing.load_data()

In [18]:
x_train.shape

(404, 13)

In [23]:
import pandas
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [32]:
def baseline_model():
    model = Sequential()
    model.add(Dense(13,input_dim=13, kernel_initializer='normal',activation='relu'))
    model.add(Dense(1, kernel_initializer='normal'))
    model.compile(loss='mean_squared_error',optimizer='adam')
    return model

In [35]:
estimator = KerasRegressor(build_fn=baseline_model,epochs=100,batch_size=5,verbose=0)

In [36]:
kfold = KFold(n_splits=10)
results = cross_val_score(estimator, x_train,y_train,cv=kfold)
print("Result: {:.2f} ({:.2f}) MSE".format(results.mean(),results.std()))

Result: -30.35 (16.39) MSE

In [31]:
print("Result: {:.2f} ({:.2f}) MSE".format(43.56545,234.454))

Result: 43.57 (234.45) MSE

In [40]:
column_names=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LST  AT']

key= ['Per capita crime rate.',
    'The proportion of residential land zoned for lots over 25,000 square feet.',
    'The proportion of non-retail business acres per town.',
    'Charles River dummy variable (=1 if tract bounds river; 0 otherwise).',
    'Nitric oxides concentration (parts per 10 million).',
    'The average number of rooms per dwelling.',
    'The porportion of owner-occupied units built before 1940.',
    'Weighted distances to five Boston employment centers.',
    'Index of accessibility to radial highways.',
    'Full-value property tax rate per $10,000.',
    'Pupil-Teacher ratio by town.',
    '1000*(Bk-0.63)**2 where Bk is the proportion of Black people by town.',
    'Percentage lower status of the population.']

In [41]:
import pandas as pd
df= pd.DataFrame(x_train, columns=column_names)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LST AT
0,1.23247,0.0,8.14,0.0,0.538,6.142,91.7,3.9769,4.0,307.0,21.0,396.90,18.72
1,0.02177,82.5,2.03,0.0,0.415,7.610,15.7,6.2700,2.0,348.0,14.7,395.38,3.11
2,4.89822,0.0,18.10,0.0,0.631,4.970,100.0,1.3325,24.0,666.0,20.2,375.52,3.26
3,0.03961,0.0,5.19,0.0,0.515,6.037,34.5,5.9853,5.0,224.0,20.2,396.90,8.01
4,3.69311,0.0,18.10,0.0,0.713,6.376,88.4,2.5671,24.0,666.0,20.2,391.43,14.65